@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

:root {
  --font: 'Roboto', sans-serif;
  --min-color: #198754;
  --color-white: #fff;
  --color-black: #000;
}

body {
  background-color: #aaa;
  font-family: var(--font);
  font-size: 1.3rem;
  margin: 0;
  padding: 4.5rem 0;
}

.form-control:focus,
input.form-control,
span.input-group-text {
  background: transparent;
  border: none;
  box-shadow: none;
}

form.insert {
  max-width: 30rem;
  margin: 3rem auto;
  background: #eee;
  padding: 1rem;
  border-radius: 1rem;
}


/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}

/* Start Print */
@media print {

  .delete button.btn,
  .title,
  .btn-add,
  .btn-print {
    display: none;
  }
}